Repository yiisoft/yii2, pull requests merged in 2018-12, with the labels that each got.

#16022 Fix UniqueValidator for PostgreSQL
  framework/CHANGELOG.md
  framework/validators/UniqueValidator.php
  tests/data/ar/Type.php
  tests/framework/db/pgsql/UniqueValidatorTest.php
Labels: type:bug

#16942 Add gii to ar doc
  docs/guide-ar/README.md
  docs/guide-ar/start-gii.md
Labels: type:docs

#16952 Add start looking ahead ar doc
  docs/guide-ar/README.md
  docs/guide-ar/start-looking-ahead.md
Labels: type:docs

#16997 PHP 7.3 support
  .travis.yml
Labels: php7, type:test

#16996 Fixes #16926: fix shell autocompletion
  contrib/completion/bash/yii
  framework/CHANGELOG.md
Labels: type:bug

#16946 Fixed #16945
  framework/CHANGELOG.md
  framework/rbac/DbManager.php
Labels: Oracle, feature:rbac, type:bug

#16990 Issue #14609: test case for further discussion
  tests/framework/db/CommandTest.php
Labels: type:test
