Repository yiisoft/yii2, pull requests merged in 2018-04, with the labels that each got.

#16052 Fixes #15117 `yii\db\Schema::getTableMetadata` cache refreshing
  framework/CHANGELOG.md
  framework/db/Schema.php
  tests/framework/db/SchemaTest.php
Labels: pr:request for unit tests, type:bug

#16054 Callback execution with mutex synchronization
  framework/CHANGELOG.md
  framework/mutex/Mutex.php
  framework/mutex/SyncException.php
  tests/framework/mutex/MutexTestTrait.php
Labels: type:enhancement

#16060 Update start-prerequisites.md
  docs/guide/start-prerequisites.md
Labels: type:docs

#16075 blind fix for oracle InCondition builder
  framework/CHANGELOG.md
  framework/db/oci/conditions/InConditionBuilder.php
Labels: type:bug

#16113 Update tutorial-yii-as-micro-framework.md
  docs/guide-ru/tutorial-yii-as-micro-framework.md
Labels: type:docs

#16120 FileCache: rebuild cache file before touch when different file owner
  .travis.yml
  framework/CHANGELOG.md
  framework/caching/FileCache.php
  tests/framework/caching/FileCacheTest.php
Labels: type:bug

#16076 added test to verify #15298
  tests/framework/helpers/FormatConverterTest.php
Labels: type:test

#16148 Added more docs about `yii\db\Connection::dsn` property [skip ci]
  docs/guide/db-dao.md
  framework/db/Connection.php
Labels: type:docs

#16136 Add docs about changes in the `yii\validators\ExistValidator`
  docs/guide/tutorial-core-validators.md
  framework/validators/ExistValidator.php
Labels: type:docs

#16152 Make `yii\test\InitDbFixture` work with non-SQL DBMS
  framework/CHANGELOG.md
  framework/test/InitDbFixture.php
Labels: type:bug

#16175 guide-ja/output-* revised [ci skip]
  docs/guide-ja/output-client-scripts.md
  docs/guide-ja/output-data-providers.md
  docs/guide-ja/output-data-widgets.md
  docs/guide-ja/output-formatting.md
  docs/guide-ja/output-pagination.md
  docs/guide-ja/output-sorting.md
  docs/guide-ja/output-theming.md
Labels: type:docs

#16177 modification to #using-default-roles section
  docs/guide/security-authorization.md
Labels: type:docs

#16182 guide-ja/security-* revised [ci skip]
  docs/guide-ja/security-authentication.md
  docs/guide-ja/security-authorization.md
  docs/guide-ja/security-best-practices.md
  docs/guide-ja/security-cryptography.md
  docs/guide-ja/security-passwords.md
Labels: type:docs

#16021 fix #15798 (yii\grid\CheckboxColumn, yii\grid\RadioButtonColumn conte…
  framework/CHANGELOG.md
  framework/grid/CheckboxColumn.php
  framework/grid/RadioButtonColumn.php
  tests/framework/grid/CheckboxColumnTest.php
  tests/framework/grid/RadiobuttonColumnTest.php
Labels: pr:request for unit tests

#16039 Fix ODBC Driver 13 for SQL Server error on null
  framework/db/mssql/QueryBuilder.php
Labels: MSSQL, type:bug

#16185 fix #16184 use self instead of static
  framework/CHANGELOG.md
  framework/base/Widget.php
  tests/framework/base/WidgetTest.php
Labels: type:bug

#16197 Fix #16068: wrong return value in `yii\web\CookieCollection::has`
  framework/CHANGELOG.md
  framework/web/CookieCollection.php
Labels: type:bug
