Repository yiisoft/yii2, pull requests merged in 2018-10, with the labels that each got.

#16765 Update and correct Spanish translation
  docs/guide-es/structure-widgets.md
Labels: type:docs

#16768 PL docs update
  docs/guide-pl/concept-aliases.md
  docs/guide-pl/concept-behaviors.md
Labels: type:docs

#16767 Translate section 'Output Data Providers' to Spanish
  docs/guide-es/output-data-providers.md
  docs/guide-es/translators.json
Labels: type:docs

#16779 Update CreateAction.php [skip ci]
  framework/rest/CreateAction.php
Labels: type:docs

#16209 added support fractional seconds for time types. Actually for MySQL >= 5.6.4
  framework/CHANGELOG.md
  framework/db/mysql/QueryBuilder.php
  tests/framework/db/QueryBuilderTest.php
  tests/framework/db/mysql/QueryBuilderTest.php
Labels: type:bug

#16785 Add volume to config.php
  tests/mssql/docker-compose.yml
Labels: MSSQL, type:test

#16786 Translate sections on testing to Spanish
  docs/guide-es/test-acceptance.md
  docs/guide-es/test-environment-setup.md
  docs/guide-es/test-functional.md
  docs/guide-es/test-overview.md
  docs/guide-es/test-unit.md
Labels: type:docs

#16801 Widget docs enhancement
  docs/guide/structure-widgets.md
Labels: type:docs

#16817 Slug is not removing replacement parts anymore
  framework/CHANGELOG.md
  framework/helpers/BaseInflector.php
  tests/framework/helpers/InflectorTest.php
Labels: type:bug

#16821 docs/guide-ja updated [ci skip]
  docs/guide-ja/security-best-practices.md
  docs/guide-ja/structure-applications.md
  docs/guide-ja/structure-widgets.md
Labels: type:docs

#16824 Translate 'output-data-widgets' to Spanish (1)
  docs/guide-es/output-data-widgets.md
Labels: type:docs

#16331 Fix for console table without headers
  framework/CHANGELOG.md
  framework/console/widgets/Table.php
  tests/framework/console/widgets/TableTest.php
Labels: type:bug

#16243 Fix #16183 when `yii\helpers\BaseFileHelper` sometimes returned wrong value
  framework/CHANGELOG.md
  framework/helpers/BaseFileHelper.php
Labels: type:bug

#16839 Increase frequency of lock tries when $timeout is used in FileMutex
  framework/CHANGELOG.md
  framework/mutex/FileMutex.php
  framework/mutex/PgsqlMutex.php
  framework/mutex/RetryAcquireTrait.php
  tests/framework/mutex/MutexTestTrait.php
  tests/framework/mutex/RetryAcquireTraitTest.php
  tests/framework/mutex/mocks/DumbMutex.php
Labels: type:enhancement
