Repository yiisoft/yii2, pull requests merged in 2018-11, with the labels that each got.

#16829 Improve tokenizer usage in MessageController extract action
  framework/CHANGELOG.md
  framework/console/controllers/MessageController.php
  tests/framework/console/controllers/BaseMessageControllerTest.php
Labels: type:bug

#16876 Revert change and added default time zone to test
  tests/framework/log/TargetTest.php
Labels: type:test

#16868 Add working with forms to ar guide
  docs/guide-ar/README.md
  docs/guide-ar/start-forms.md
Labels: type:docs

#16874 Update concept-events.md
  docs/guide-ru/concept-events.md
Labels: type:docs

#16886 Update runtime-logging.md
  docs/guide-zh-CN/runtime-logging.md
Labels: type:docs

#16629 ActiveField - merge options passed to active field with inputOptions
  framework/CHANGELOG.md
  framework/widgets/ActiveField.php
  tests/framework/widgets/ActiveFieldTest.php
Labels: type:bug

#16902 Comparing with the latest master branch, the translation of all Chinese parts has been completed.
  docs/guide-zh-CN/caching-data.md
  docs/guide-zh-CN/concept-aliases.md
  docs/guide-zh-CN/db-active-record.md
  docs/guide-zh-CN/db-dao.md
  docs/guide-zh-CN/db-migrations.md
  docs/guide-zh-CN/db-query-builder.md
  docs/guide-zh-CN/helper-array.md
  docs/guide-zh-CN/input-validation.md
  docs/guide-zh-CN/output-client-scripts.md
  docs/guide-zh-CN/output-data-providers.md
  docs/guide-zh-CN/output-data-widgets.md
  docs/guide-zh-CN/output-formatting.md
  docs/guide-zh-CN/output-pagination.md
  docs/guide-zh-CN/output-sorting.md
  docs/guide-zh-CN/rest-authentication.md
  docs/guide-zh-CN/rest-controllers.md
  docs/guide-zh-CN/rest-error-handling.md
  docs/guide-zh-CN/rest-quick-start.md
  docs/guide-zh-CN/rest-rate-limiting.md
  docs/guide-zh-CN/rest-resources.md
  docs/guide-zh-CN/rest-response-formatting.md
  docs/guide-zh-CN/rest-routing.md
  docs/guide-zh-CN/rest-versioning.md
  docs/guide-zh-CN/runtime-logging.md
  docs/guide-zh-CN/runtime-requests.md
  docs/guide-zh-CN/runtime-responses.md
  docs/guide-zh-CN/runtime-routing.md
  docs/guide-zh-CN/runtime-sessions-cookies.md
  docs/guide-zh-CN/security-authorization.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide-zh-CN/start-databases.md
  docs/guide-zh-CN/structure-applications.md
  docs/guide-zh-CN/structure-assets.md
  docs/guide-zh-CN/structure-entry-scripts.md
  docs/guide-zh-CN/structure-extensions.md
  docs/guide-zh-CN/structure-filters.md
  docs/guide-zh-CN/structure-models.md
  docs/guide-zh-CN/structure-modules.md
  docs/guide-zh-CN/structure-views.md
  docs/guide-zh-CN/structure-widgets.md
  docs/guide-zh-CN/test-fixtures.md
  docs/guide-zh-CN/test-functional.md
  docs/guide-zh-CN/test-overview.md
  docs/guide-zh-CN/tutorial-core-validators.md
  docs/guide-zh-CN/tutorial-mailing.md
  docs/guide-zh-CN/tutorial-performance-tuning.md
  docs/guide-zh-CN/tutorial-shared-hosting.md
  docs/guide-zh-CN/tutorial-yii-integration.md
  docs/guide-zh-CN/yii2-redis.md
Labels: type:docs

#16898 SQLite missing PK detection case
  framework/CHANGELOG.md
  framework/db/sqlite/Schema.php
  tests/framework/db/sqlite/SchemaTest.php
Labels: SQLite, type:bug

#16903 fixed NumberValidator so it does not validate boolean as true(as number)
  framework/CHANGELOG.md
  framework/validators/NumberValidator.php
  tests/framework/validators/NumberValidatorTest.php
Labels: type:bug
