Repository yiisoft/yii2, pull requests merged in 2019-01, with the labels that each got.

#17003 Fixes AssetBundleTest for vagrant ENV
  tests/framework/web/AssetBundleTest.php
Labels: type:test

#17009 Add support for "u" modifier for Regex validators
  framework/CHANGELOG.md
  framework/helpers/BaseHtml.php
  tests/framework/helpers/HtmlTest.php
Labels: type:bug

#17013 Fixes DateValidatorTest for ICU 55.1
  tests/framework/validators/DateValidatorTest.php
Labels: type:test

#17012 Issue #14388: test of dependent ActiveFixtures loading
  tests/data/console/controllers/fixtures/DependentActiveFixture.php
  tests/data/console/controllers/fixtures/FirstIndependentActiveFixture.php
  tests/data/console/controllers/fixtures/FixtureStorage.php
  tests/data/console/controllers/fixtures/SecondIndependentActiveFixture.php
  tests/framework/console/controllers/FixtureControllerTest.php
Labels: type:test

#17018 Added tests for DateValidator when no time is specified for 'format'
  tests/framework/validators/DateValidatorTest.php
Labels: type:test

#17019 Fix of Oracle tests for proper skipping
  tests/framework/db/oci/QueryBuilderTest.php
Labels: type:test

#17025 Fast fix of nightly build
  tests/framework/di/ServiceLocatorTest.php
Labels: type:test

#17024 Fixed random fails of RetryAcquireTraitTest
  tests/framework/mutex/RetryAcquireTraitTest.php
  tests/framework/mutex/mocks/DumbMutex.php
Labels: type:test

#17027 Fixes #15286: incorrect formatting of time with tz-information
  framework/CHANGELOG.md
  framework/i18n/Formatter.php
  tests/framework/i18n/FormatterDateTest.php
Labels: type:bug

#17032 Fixes #15167: fixed loading of default value `current_timestamp()` for MariaDB >= 10.2.3
  framework/CHANGELOG.md
  framework/db/mysql/Schema.php
  tests/framework/db/mysql/SchemaTest.php
Labels: type:bug

#16960 fix error format
  docs/guide-zh-CN/db-query-builder.md
  docs/guide-zh-CN/input-forms.md
  docs/guide-zh-CN/output-data-providers.md
  docs/guide-zh-CN/rest-controllers.md
  docs/guide-zh-CN/translators.json
Labels: type:docs

#16963 Fixing arabic guide wip issue
  docs/guide-ar/start-databases.md
  docs/guide-ar/start-forms.md
  docs/guide-ar/start-gii.md
  docs/guide-ar/start-hello.md
  docs/guide-ar/start-installation.md
  docs/guide-ar/start-prerequisites.md
  docs/guide-ar/start-workflow.md
Labels: status:under development, type:docs

#17044 When uses filter \yii\filters\PageCache, then yii\web\JsonResponseFor…
  framework/web/JsonResponseFormatter.php
  tests/framework/web/JsonResponseFormatterTest.php
Labels: status:to be verified

#17053 ActiveRecord::findOne() now accepts quoted table and column names
  framework/CHANGELOG.md
  framework/db/ActiveRecord.php
  tests/framework/db/ActiveRecordTest.php
Labels: feature:db, type:bug

#17055 Use var instead of let
  framework/assets/yii.activeForm.js
Labels: JS, type:bug
