Repository yiisoft/yii2, pull requests merged in 2019-04, with the labels that each got.

#17246 Translate Security overview into Russian
  docs/guide-ru/security-overview.md
Labels: status:under development, type:docs

#17247 Translate runtime requests
  docs/guide-ru/runtime-requests.md
Labels: status:under development, type:docs

#17270 17268 fix formatter
  framework/CHANGELOG.md
  framework/i18n/Formatter.php
  tests/framework/i18n/FormatterNumberTest.php
Labels: status:code review, type:bug

#16589 Fixed the defaultValue bug in BlameableBehavior for console app
  framework/CHANGELOG.md
  framework/behaviors/BlameableBehavior.php
  tests/framework/behaviors/BlameableBehaviorConsoleTest.php
Labels: type:bug

#17273 Translate security cryptography into russian
  docs/guide-ru/security-cryptography.md
Labels: type:docs

#17249 Solves #16820 issue
  framework/CHANGELOG.md
  framework/filters/Cors.php
  tests/framework/filters/CorsTest.php
Labels: type:bug

#17277 Fix typo in zh-CN guide
  docs/guide-zh-CN/concept-properties.md
Labels: type:docs

#17285 Fix for PostgreSQL alter column
  framework/CHANGELOG.md
  framework/db/pgsql/QueryBuilder.php
  tests/framework/db/pgsql/QueryBuilderTest.php
Labels: type:bug
