Repository yiisoft/yii2, pull requests merged in 2019-07, with the labels that each got.

#17408 Closes #17057. MSSQL quoted tables.
  framework/CHANGELOG.md
  framework/db/Schema.php
  framework/db/mssql/Schema.php
  tests/data/mssql.sql
  tests/framework/db/mssql/SchemaTest.php
  tests/framework/db/sqlite/SchemaTest.php
Labels: status:ready for merge

#17409 Closes #17057. `findTableNames` should return quoted table names.
  framework/db/mssql/Schema.php
Labels: status:code review

#17390 Closes #17389. Fix issue in \yii\validators\UniqueValidator
  framework/CHANGELOG.md
  framework/validators/UniqueValidator.php
  tests/framework/validators/UniqueValidatorTest.php
Labels: status:code review, type:bug

#17410 Add MSSQL tests
  .travis.yml
  tests/data/config.php
  tests/data/travis/mssql-setup.sh
  tests/framework/db/ActiveRecordTest.php
  tests/framework/db/BatchQueryResultTest.php
  tests/framework/db/CommandTest.php
  tests/framework/db/QueryBuilderTest.php
  tests/framework/db/QueryTest.php
  tests/framework/db/SchemaTest.php
  tests/framework/db/mssql/QueryBuilderTest.php
  tests/framework/test/ActiveFixtureTest.php
  tests/framework/validators/ExistValidatorTest.php
  tests/framework/validators/UniqueValidatorTest.php
Labels: MSSQL, type:test

#17399 Closes #17395 actions with underscores
  framework/CHANGELOG.md
  framework/console/Controller.php
  framework/console/controllers/HelpController.php
  framework/helpers/BaseInflector.php
  tests/framework/base/ControllerTest.php
  tests/framework/console/ControllerTest.php
Labels: status:ready for merge, type:bug

#17413 MSSQL: fix tests
  framework/CHANGELOG.md
  framework/db/mssql/QueryBuilder.php
  tests/framework/db/QueryBuilderTest.php
  tests/framework/db/mssql/QueryBuilderTest.php
Labels: MSSQL, status:ready for merge, type:bug, type:test

#17420 MSSQL: Fix loading of column default values.
  framework/CHANGELOG.md
  framework/db/mssql/ColumnSchema.php
  framework/db/mssql/Schema.php
  tests/framework/db/ActiveRecordTest.php
  tests/framework/db/SchemaTest.php
  tests/framework/db/mssql/SchemaTest.php
Labels: MSSQL, type:bug

#17418 MSSQL: fix tests
  framework/CHANGELOG.md
  framework/db/mssql/Schema.php
  tests/data/mssql.sql
  tests/framework/db/ActiveRecordTest.php
  tests/framework/db/QueryBuilderTest.php
  tests/framework/db/SchemaTest.php
  tests/framework/db/mssql/QueryBuilderTest.php
Labels: MSSQL, status:code review, type:test

#17426 MSSQL: fix tests
  tests/framework/db/BatchQueryResultTest.php
  tests/framework/db/CommandTest.php
  tests/framework/db/QueryTest.php
  tests/framework/db/mssql/BatchQueryResultTest.php
  tests/framework/db/mssql/CommandTest.php
  tests/framework/db/mssql/QueryTest.php
  tests/framework/test/ActiveFixtureTest.php
Labels: type:test

#17431 MSSQL: fix tests
  framework/CHANGELOG.md
  tests/data/mssql.sql
  tests/data/postgres.sql
  tests/framework/db/mssql/QueryBuilderTest.php
  tests/framework/validators/ExistValidatorTest.php
  tests/framework/validators/UniqueValidatorTest.php
Labels: type:test

#17433 Closes #10023. Fix MSSQL "There are no more rows" exception
  framework/CHANGELOG.md
  framework/db/BatchQueryResult.php
  tests/framework/db/mssql/BatchQueryResultTest.php
Labels: MSSQL, status:ready for merge

#17435 MSSQL: fix `i18n_init` migration
  framework/CHANGELOG.md
  framework/i18n/migrations/m150207_210500_i18n_init.php
  tests/framework/db/mssql/DbMessageSourceTest.php
  tests/framework/i18n/DbMessageSourceTest.php
Labels: MSSQL, type:bug

#17438 Verifying error code instead of message.
  framework/db/BatchQueryResult.php
Labels: type:bug

#17443 MSSQL: fix quoting of column names with dots
  framework/CHANGELOG.md
  framework/db/mssql/Schema.php
  tests/framework/db/mssql/ConnectionTest.php
Labels: MSSQL, status:code review, type:bug

#17447 Closes #17219. MSSQL: fix quoting of table names with spaces
  framework/CHANGELOG.md
  framework/db/QueryBuilder.php
  framework/db/mssql/QueryBuilder.php
  tests/framework/db/QueryBuilderTest.php
  tests/framework/db/mssql/QueryBuilderTest.php
Labels: status:ready for merge

#17456 Trying to fix travis
  .travis.yml
  tests/data/travis/memcache-setup.sh
Labels: type:test

#17453 Making migration generator generate namespaced migrations
  docs/guide-pl/db-migrations.md
  docs/guide/db-migrations.md
  framework/CHANGELOG.md
  framework/console/controllers/BaseMigrateController.php
  framework/console/controllers/MigrateController.php
  framework/views/addColumnMigration.php
  framework/views/dropColumnMigration.php
  tests/data/console/migrate_create/add_columns_fk.php
  tests/data/console/migrate_create/add_columns_prefix.php
  tests/data/console/migrate_create/add_columns_test.php
  tests/data/console/migrate_create/add_two_columns_test.php
  tests/data/console/migrate_create/create_field_with_colon_default_values.php
  tests/data/console/migrate_create/create_fields.php
  tests/data/console/migrate_create/create_foreign_key.php
  tests/data/console/migrate_create/create_id_pk.php
  tests/data/console/migrate_create/create_prefix.php
  tests/data/console/migrate_create/create_test.php
  tests/data/console/migrate_create/create_title_pk.php
  tests/data/console/migrate_create/create_title_with_comma_default_values.php
  tests/data/console/migrate_create/create_unsigned_big_pk.php
  tests/data/console/migrate_create/create_unsigned_pk.php
  tests/data/console/migrate_create/default.php
  tests/data/console/migrate_create/drop_columns_test.php
  tests/data/console/migrate_create/drop_fields.php
  tests/data/console/migrate_create/drop_products_from_store_table.php
  tests/data/console/migrate_create/drop_test.php
  tests/data/console/migrate_create/junction_test.php
  tests/framework/console/controllers/MigrateControllerTest.php
  tests/framework/console/controllers/MigrateControllerTestTrait.php
Labels: status:ready for merge, type:bug

#17364 Fixes comments for table or column
  framework/CHANGELOG.md
  framework/db/mssql/QueryBuilder.php
  framework/db/mssql/Schema.php
  tests/data/mssql.sql
  tests/framework/db/mssql/QueryBuilderTest.php
Labels: MSSQL, status:ready for merge

#17461 Fix #17457: Fix `phpTypecast()` for MSSQL
  framework/CHANGELOG.md
  framework/db/mssql/ColumnSchema.php
  framework/db/mssql/Schema.php
Labels: MSSQL, status:code review, type:bug

#17476 Closes #17459. Use mysql docker container
  .travis.yml
  tests/data/config.php
  tests/data/travis/mysql-setup.sh
Labels: type:test

#17477 Fix #17469: Fixed updating `Yii` logger instance when setting new logger via configuration
  framework/CHANGELOG.md
  framework/log/Dispatcher.php
  tests/framework/log/DispatcherTest.php
Labels: type:bug
