Repository yiisoft/yii2, pull requests merged in 2021-12, with the labels that each got.

#19031 Refactor `yii\console\Controller::getActionArgsHelp()`
  framework/CHANGELOG.md
  framework/console/Controller.php
  tests/framework/console/ControllerTest.php
  tests/framework/console/FakeController.php
  tests/framework/console/controllers/HelpControllerTest.php
Labels: type:bug

#19054 Mailer PHP 8.1 float to int conversion fix
  framework/mail/BaseMailer.php
Labels: php8

#19058 update PHP XCache link
  docs/guide-es/caching-data.md
  docs/guide-fr/caching-data.md
  docs/guide-ja/caching-data.md
  docs/guide-pt-BR/caching-data.md
  docs/guide-ru/caching-data.md
  docs/guide-zh-CN/caching-data.md
  docs/guide/caching-data.md
Labels: type:docs

#19063 update MySQL link
  docs/guide-es/caching-data.md
  docs/guide-fr/caching-data.md
  docs/guide-pt-BR/caching-data.md
  docs/guide-ru/caching-data.md
  docs/guide-zh-CN/caching-data.md
  docs/guide/caching-data.md
Labels: type:docs

#19066 (Docs) Normalized existing "virtual" / "magic" methods' descriptions, add missing ones
  framework/db/ActiveRecord.php
  framework/db/ActiveRelationTrait.php
Labels: type:docs

#19069 update RFC 7232 link
  docs/guide-es/caching-http.md
  docs/guide-fr/caching-http.md
  docs/guide-ja/caching-http.md
  docs/guide-pl/caching-http.md
  docs/guide-pt-BR/caching-http.md
  docs/guide-ru/caching-http.md
  docs/guide-zh-CN/caching-http.md
  docs/guide/caching-http.md
Labels: type:docs

#19078 update CORS Preflight requests link
  docs/guide-ja/rest-controllers.md
  docs/guide-zh-CN/rest-controllers.md
  docs/guide/rest-controllers.md
Labels: type:docs

#19080 Fixed formatting of Apache config snippet in ru guide [skip ci]
  docs/guide-ru/test-environment-setup.md
Labels: type:docs

#19081 (Docs) Added missing close tag for span
  docs/guide-fr/caching-data.md
  docs/guide-ru/caching-data.md
  docs/guide-zh-CN/caching-data.md
  docs/guide/caching-data.md
Labels: type:docs

#19087 update HTTP Bearer Tokens link
  docs/guide-es/rest-authentication.md
  docs/guide-ja/rest-authentication.md
  docs/guide-pt-BR/rest-authentication.md
  docs/guide-ru/rest-authentication.md
  docs/guide-zh-CN/rest-authentication.md
  docs/guide/rest-authentication.md
Labels: type:docs

#19097 update broken ICU manual link
  docs/guide-es/tutorial-core-validators.md
  docs/guide-ja/tutorial-core-validators.md
  docs/guide-pt-BR/tutorial-core-validators.md
  docs/guide-ru/tutorial-core-validators.md
  docs/guide-zh-CN/tutorial-core-validators.md
  docs/guide/tutorial-core-validators.md
Labels: type:docs

#19101 Fix isConsoleRequest() may return erroneously when testing a Web application in Codeception
  framework/CHANGELOG.md
  tests/TestCase.php
Labels: type:bug, status:ready for merge

#19106 update common media types link
  docs/guide-ja/tutorial-core-validators.md
  docs/guide-pt-BR/tutorial-core-validators.md
  docs/guide-zh-CN/tutorial-core-validators.md
  docs/guide/tutorial-core-validators.md
Labels: type:docs

#19108 Optimize Component::hasEventHandlers(), Component::trigger()
  framework/CHANGELOG.md
  framework/base/Component.php
Labels: status:code review

#19111 update docker.com link
  docs/guide-ja/tutorial-docker.md
  docs/guide-zh-CN/tutorial-docker.md
  docs/guide/tutorial-docker.md
Labels: type:docs

#19092 18660 fix migration template not working
  framework/CHANGELOG.md
  framework/console/controllers/MigrateController.php
  tests/framework/console/controllers/MigrateControllerTest.php
Labels: type:bug, status:code review

#19098 Fixes duplicate classes in `BaseHtml::renderTagAttributes()`
  framework/CHANGELOG.md
  framework/helpers/BaseHtml.php
  tests/framework/helpers/HtmlTest.php
Labels: type:enhancement, status:code review

#19073 feat(trim): passing null to parameter
  framework/grid/Column.php
Labels: pr:missing usecase

#19115 update download page link
  docs/guide-ja/tutorial-docker.md
  docs/guide-zh-CN/tutorial-docker.md
  docs/guide/tutorial-docker.md
Labels: type:docs

#19113 Fix constant session regeneration
  framework/web/User.php
  tests/framework/web/UserTest.php
Labels: type:bug, severity:important
