Repository yiisoft/yii2, pull requests merged in 2021-06, with the labels that each got.

#18692 fix intro-yii.md (pt-BR) link
  docs/guide-pt-BR/intro-yii.md
Labels: type:docs

#18697 fix intro-yii.md (uz) link
  docs/guide-uz/intro-yii.md
Labels: type:docs

#18695 Fixed Cookie::$sameSite description link and added Cookie::SAME_SITE_NONE
  framework/CHANGELOG.md
  framework/web/Cookie.php
Labels: type:enhancement

#18698 fix intro-yii.md (zh-CN) link
  docs/guide-zh-CN/intro-yii.md
Labels: type:docs

#18703 fix intro-yii.md (vi) link
  docs/guide-vi/intro-yii.md
Labels: type:docs

#18709 fix IIS Web site link
  docs/guide/start-installation.md
Labels: type:docs

#18714 fix info block
  docs/guide-uk/start-hello.md
Labels: type:docs

#18713 fix QueryInterface::count return type
  framework/db/QueryInterface.php
Labels: status:code review, type:bug, type:docs

#18716 use getTargetClass in function checkTargetAttributeExistence
  framework/validators/ExistValidator.php
Labels: type:enhancement

#18719 info block display fixes start-hello.md
  docs/guide-uz/blocktypes.json
  docs/guide-uz/start-hello.md
  docs/guide-vi/blocktypes.json
  docs/guide-vi/start-hello.md
Labels: type:docs

#18721 update info block all .md (uz)
  docs/guide-uz/start-databases.md
  docs/guide-uz/start-forms.md
  docs/guide-uz/start-installation.md
  docs/guide-uz/start-workflow.md
Labels: type:docs

#18722 Added example with hyphen in action ID
  framework/filters/VerbFilter.php
Labels: type:docs

#18725 Allow jQuery 3.6 to be installed
  composer.json
  framework/CHANGELOG.md
  framework/composer.json
Labels: type:enhancement

#18727 single style to structure block (start-workflow.md)
  docs/guide-ar/start-workflow.md
  docs/guide-es/start-workflow.md
  docs/guide-fr/start-workflow.md
  docs/guide-id/start-workflow.md
  docs/guide-ja/start-workflow.md
  docs/guide-pl/start-workflow.md
  docs/guide-pt-BR/start-workflow.md
  docs/guide-ru/start-workflow.md
  docs/guide-uk/start-workflow.md
  docs/guide-uz/start-workflow.md
  docs/guide-vi/start-workflow.md
  docs/guide-zh-CN/start-workflow.md
  docs/guide/start-workflow.md
Labels: type:docs

#18728 Update security-passwords.md to more correct word
  docs/guide/security-passwords.md
Labels: type:docs

#18731 fix books link & update code block
  docs/guide-ar/start-workflow.md
  docs/guide-es/start-looking-ahead.md
  docs/guide-es/start-workflow.md
  docs/guide-fr/start-looking-ahead.md
  docs/guide-fr/start-workflow.md
  docs/guide-id/start-looking-ahead.md
  docs/guide-id/start-workflow.md
  docs/guide-ja/start-looking-ahead.md
  docs/guide-ja/start-workflow.md
  docs/guide-pl/start-looking-ahead.md
  docs/guide-pl/start-workflow.md
  docs/guide-pt-BR/start-looking-ahead.md
  docs/guide-pt-BR/start-workflow.md
  docs/guide-ru/start-workflow.md
  docs/guide-uk/start-looking-ahead.md
  docs/guide-uk/start-workflow.md
  docs/guide-uz/start-workflow.md
  docs/guide-vi/start-looking-ahead.md
  docs/guide-vi/start-workflow.md
  docs/guide-zh-CN/start-workflow.md
  docs/guide/start-looking-ahead.md
  docs/guide/start-workflow.md
Labels: type:docs

#18726 Json pretty print
  docs/guide/README.md
  docs/guide/helper-json.md
  docs/guide/helper-overview.md
  framework/CHANGELOG.md
  framework/helpers/BaseJson.php
  tests/framework/helpers/JsonTest.php
Labels: type:enhancement

#18736 update IRC chat
  docs/guide-ar/start-looking-ahead.md
  docs/guide-es/start-looking-ahead.md
  docs/guide-fr/start-looking-ahead.md
  docs/guide-id/start-looking-ahead.md
  docs/guide-ja/start-looking-ahead.md
  docs/guide-pl/start-looking-ahead.md
  docs/guide-pt-BR/start-looking-ahead.md
  docs/guide-uk/start-looking-ahead.md
  docs/guide-vi/start-looking-ahead.md
  docs/guide-zh-CN/start-looking-ahead.md
  docs/guide/start-looking-ahead.md
Labels: type:docs
