Repository yiisoft/yii2, pull requests merged in 2021-11, with the labels that each got.

#18988 Fix `MessageController::$translator`
  framework/CHANGELOG.md
  framework/console/controllers/MessageController.php
  tests/framework/console/controllers/BaseMessageControllerTest.php
Labels: type:bug

#18999 update code Injection link
  docs/guide-ja/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19002 update Cross Site Scripting link
  docs/guide-ja/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19007 Correct note about html encoded items in radio/checkboxlist
  framework/helpers/BaseHtml.php
Labels: type:docs

#19006 Prepare for new apidoc
  framework/base/DynamicModel.php
  framework/console/controllers/BaseMigrateController.php
  framework/data/Sort.php
  framework/db/QueryBuilder.php
  framework/filters/AccessRule.php
  framework/helpers/BaseJson.php
  framework/helpers/BaseMarkdown.php
  framework/web/AssetBundle.php
  framework/web/CompositeUrlRule.php
  framework/web/Cookie.php
  framework/web/Request.php
  framework/web/UrlRule.php
  framework/widgets/ActiveField.php
Labels: type:docs

#19001 Fix PhpDoc of `ActiveField`
  framework/widgets/ActiveField.php
Labels: type:docs

#18993 Optimize ActiveRecord::loadDefaultValues()
  framework/CHANGELOG.md
  framework/db/ActiveRecord.php
  tests/data/ar/CroppedType.php
  tests/framework/db/ActiveRecordTest.php
Labels: type:bug

#19015 update SQL Injection link
  docs/guide-ja/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19023 update csrf link
  docs/guide-ja/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19029 update SameSite link
  docs/guide-ja/runtime-sessions-cookies.md
  docs/guide-ja/security-best-practices.md
  docs/guide/runtime-sessions-cookies.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19035 update Exception Handling link
  docs/guide-ja/security-best-practices.md
  docs/guide-ru/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#18981 Use a proper attribute name for tabular data
  framework/CHANGELOG.md
  framework/widgets/ActiveField.php
  tests/framework/widgets/ActiveFieldTest.php
Labels: type:bug, status:code review

#19043 Fix broken link (https://owasp.org/index.php/Top_10_2007-Information_Leakage)
  docs/guide-ja/security-best-practices.md
  docs/guide-ru/security-best-practices.md
  docs/guide-zh-CN/security-best-practices.md
  docs/guide/security-best-practices.md
Labels: type:docs

#19003 (#13105) Add yiiActiveForm validate_only property for skipping form a…
  framework/CHANGELOG.md
  framework/assets/yii.activeForm.js
Labels: type:enhancement, JS

#19051 update APC extension link
  docs/guide-fr/caching-data.md
  docs/guide-pt-BR/caching-data.md
  docs/guide-ru/caching-data.md
  docs/guide-zh-CN/caching-data.md
  docs/guide/caching-data.md
Labels: type:docs

#19050 Fix #19030: Add DI container usage to Widget end()
  framework/CHANGELOG.md
  framework/base/Widget.php
  tests/framework/base/WidgetTest.php
Labels: type:enhancement
