Repository yiisoft/yii2, pull requests merged in 2021-05, with the labels that each got.

#18630 fix link docs
  docs/guide-uk/intro-yii.md
Labels: type:docs

#18625 Fix container for PHP 8 union types
  framework/CHANGELOG.md
  framework/di/Container.php
  tests/framework/di/ContainerTest.php
  tests/framework/di/stubs/UnionTypeNotNull.php
  tests/framework/di/stubs/UnionTypeNull.php
  tests/framework/di/stubs/UnionTypeWithClass.php
Labels: type:bug

#18623 More about #9718: Updating the docs
  docs/guide/security-authentication.md
  framework/web/IdentityInterface.php
Labels: status:code review, type:docs

#18635 concept-aliases.md link update
  docs/guide-es/concept-aliases.md
  docs/guide-fr/concept-aliases.md
  docs/guide-ja/concept-aliases.md
  docs/guide-pl/concept-aliases.md
  docs/guide-pt-BR/concept-aliases.md
  docs/guide-uk/concept-aliases.md
  docs/guide-zh-CN/concept-aliases.md
  docs/guide/concept-aliases.md
Labels: status:ready for merge, type:docs

#18645 Fix link in docs
  docs/guide-pl/intro-yii.md
Labels: type:docs

#18653 Add method `BaseHtml::getInputIdByName()`
  framework/CHANGELOG.md
  framework/helpers/BaseHtml.php
  tests/framework/helpers/HtmlTest.php
Labels: type:enhancement

#18651 fix docs link (ar)
  docs/guide-ar/intro-yii.md
Labels: type:docs

#18659 fix intro-upgrade-from-v1.md link
  docs/guide-uk/intro-upgrade-from-v1.md
Labels: type:docs

#18664 Fixed typo
  framework/db/BaseActiveRecord.php
Labels: type:docs

#18672 fix intro-yii.md (fr) link
  docs/guide-fr/intro-yii.md
Labels: type:docs

#18679 Fix for issue #18678
  framework/CHANGELOG.md
  framework/caching/DbCache.php
Labels: type:bug

#18675 More tests for helpers
  framework/helpers/BaseFormatConverter.php
  phpunit.xml.dist
  tests/framework/helpers/ArrayHelperTest.php
  tests/framework/helpers/BaseConsoleTest.php
  tests/framework/helpers/FormatConverterTest.php
  tests/framework/helpers/MimeTest.php
  tests/framework/helpers/ReplaceArrayValueTest.php
  tests/framework/helpers/UnsetArrayValueTest.php
  tests/framework/helpers/UrlTest.php
Labels: type:test

#18687 fix typo
  docs/guide-ru/db-active-record.md
Labels: type:docs

#18676 Support fileMode fileOwnership in create migration
  docs/guide/db-migrations.md
  framework/CHANGELOG.md
  framework/console/controllers/BaseMigrateController.php
  framework/helpers/BaseFileHelper.php
  tests/framework/helpers/FileHelperTest.php
Labels: type:enhancement

#18688 fix intro-yii.md (id) link
  docs/guide-id/intro-yii.md
Labels: type:docs

#18685 Scrutinizer fixes
  framework/BaseYii.php
  framework/base/Controller.php
  framework/base/Module.php
  framework/behaviors/AttributeTypecastBehavior.php
  framework/console/controllers/BaseMigrateController.php
  framework/console/controllers/CacheController.php
  framework/console/controllers/FixtureController.php
  framework/console/controllers/HelpController.php
  framework/console/controllers/MigrateController.php
  framework/db/BaseActiveRecord.php
  framework/db/Connection.php
  framework/db/conditions/InConditionBuilder.php
  framework/db/mssql/QueryBuilder.php
  framework/db/mssql/Schema.php
  framework/db/pgsql/Schema.php
  framework/filters/AccessRule.php
  framework/helpers/BaseFileHelper.php
  framework/log/Logger.php
  framework/web/MultipartFormDataParser.php
  framework/web/Session.php
  tests/framework/db/CommandTest.php
  tests/framework/db/QueryTest.php
Labels: status:code review, type:enhancement
