Repository yiisoft/yii2, pull requests merged in 2022-12, with the labels that each got.

#19698 update rest-authentication.md wiki link
  docs/guide-zh-CN/rest-authentication.md
Labels: type:docs

#19701 update tutorial-core-validators.md php.net links
  docs/guide-es/tutorial-core-validators.md
  docs/guide-pt-BR/tutorial-core-validators.md
  docs/guide-zh-CN/tutorial-core-validators.md
Labels: type:docs

#19513 Added cache usage for RBAC DbManager
  framework/CHANGELOG.md
  framework/rbac/DbManager.php
Labels: type:enhancement, hacktoberfest-accepted

#19702 update tutorial-core-validators.md wiki links
  docs/guide-pt-BR/tutorial-core-validators.md
Labels: type:docs

#19694 19693 command cache null scalar
  framework/CHANGELOG.md
  framework/db/Command.php
  tests/framework/db/QueryTest.php
Labels: type:bug

#19703 update tutorial-i18n.md php.net links
  docs/guide-fr/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
Labels: type:docs

#19707 newline is required for correct rendering
  docs/guide/runtime-sessions-cookies.md
Labels: type:docs

#19708 update tutorial-performance-tuning.md php.net links
  docs/guide-ja/tutorial-performance-tuning.md
  docs/guide-ru/tutorial-performance-tuning.md
  docs/guide-zh-CN/tutorial-performance-tuning.md
  docs/guide/tutorial-performance-tuning.md
Labels: type:docs

#19710 Remove unnecessary SQL updates in the database on attributes typecast (#17194)
  framework/CHANGELOG.md
  framework/behaviors/AttributeTypecastBehavior.php
  tests/framework/behaviors/AttributeTypecastBehaviorTest.php
Labels: type:bug

#19714 update helper-array.md php.net links
  docs/guide-es/helper-array.md
  docs/guide-fr/helper-array.md
  docs/guide-ja/helper-array.md
  docs/guide-zh-CN/helper-array.md
Labels: type:docs

#19716 update helper-html.md php.net links
  docs/guide-fr/helper-html.md
  docs/guide-zh-CN/helper-html.md
Labels: type:docs

#19724 Checkbox column "check all" checkbox fix.
  framework/CHANGELOG.md
  framework/assets/yii.gridView.js
  tests/js/tests/yii.gridView.test.js
Labels: type:bug

#19727 Added $userId usage for RBAC cache key
  framework/CHANGELOG.md
  framework/rbac/DbManager.php
  tests/framework/rbac/DbManagerTestCase.php
Labels: type:bug
