Repository yiisoft/yii2, pull requests merged in 2022-07, with the labels that each got.

#19464 update wikipedia link
  docs/guide-fr/structure-applications.md
  docs/guide-ja/start-workflow.md
  docs/guide-zh-CN/start-workflow.md
  docs/guide/db-dao.md
Labels: type:docs

#19473 update semver link
  docs/guide-ja/rest-versioning.md
  docs/guide-zh-CN/rest-versioning.md
  docs/guide/structure-extensions.md
Labels: type:docs

#19476 update daringfireball link
  docs/guide/structure-extensions.md
Labels: type:docs

#19477 cast shell_exec to string
  framework/CHANGELOG.md
  framework/console/controllers/AssetController.php
Labels: type:bug, php8

#19480 update sass,less,typescriptlang links
  docs/guide-fr/structure-assets.md
  docs/guide-ja/structure-assets.md
  docs/guide-zh-CN/structure-assets.md
  docs/guide/structure-assets.md
Labels: type:docs

#19482 Fix #19481
  framework/CHANGELOG.md
  framework/base/ErrorHandler.php
Labels: type:bug

#19487 update getbootstrap link
  docs/guide/structure-extensions.md
Labels: type:docs

#19471 Enable console commands also on hostings where exec() not allowed
  framework/CHANGELOG.md
  framework/helpers/BaseConsole.php
Labels: type:enhancement

#19490 update imagine link
  docs/guide/structure-extensions.md
Labels: type:docs

#19409 Check if target attributes are valid before applying them to validators
  framework/CHANGELOG.md
  framework/validators/ExistValidator.php
  framework/validators/UniqueValidator.php
  tests/framework/validators/ExistValidatorTest.php
  tests/framework/validators/UniqueValidatorTest.php
Labels: type:bug

#19491 Encode JS options to remove HTML tags
  framework/CHANGELOG.md
  framework/captcha/CaptchaValidator.php
  framework/validators/BooleanValidator.php
  framework/validators/CompareValidator.php
  framework/validators/FileValidator.php
  framework/validators/FilterValidator.php
  framework/validators/ImageValidator.php
  framework/validators/RangeValidator.php
  framework/validators/RequiredValidator.php
  framework/validators/StringValidator.php
  framework/validators/TrimValidator.php
  tests/framework/validators/BooleanValidatorTest.php
  tests/framework/validators/RequiredValidatorTest.php
Labels: type:bug

#19498 Update redis links
  docs/guide/structure-extensions.md
  docs/guide/tutorial-performance-tuning.md
Labels: type:docs
