Repository yiisoft/yii2, pull requests merged in 2022-11, with the labels that each got.

#19656 update security-passwords.md php.net links
  docs/guide-fr/security-passwords.md
  docs/guide-ru/security-passwords.md
  docs/guide-zh-CN/security-passwords.md
Labels: type:docs

#19645 Added UPGRADE.md note for #19603
  framework/UPGRADE.md
Labels: type:docs, hacktoberfest-accepted

#19667 update security-best-practices.md wiki link
  docs/guide-ru/security-best-practices.md
Labels: type:docs

#19671 update caching-data.md php.net links
  docs/guide-fr/caching-data.md
  docs/guide-pt-BR/caching-data.md
  docs/guide-ru/caching-data.md
  docs/guide-zh-CN/caching-data.md
Labels: type:docs

#19647 #19520 - fix for TIMESTAMP & ROWVERSION columns in insert query
  framework/CHANGELOG.md
  framework/db/mssql/QueryBuilder.php
  tests/framework/db/mssql/ActiveRecordTest.php
Labels: type:bug, MSSQL, hacktoberfest-accepted

#19354 Optimize AttributeTypecastBehavior::detectAttributeTypes()
  framework/CHANGELOG.md
  framework/behaviors/AttributeTypecastBehavior.php
Labels: status:code review

#19677 Fix #19581: Fix regression in `CompositeAuth` introduced in #19418
  framework/CHANGELOG.md
  framework/filters/auth/CompositeAuth.php
Labels: type:bug

#19679 Attempt to fix tests
  tests/framework/helpers/InflectorTest.php
Labels: type:test

#19673 update caching-http.md php.net links
  docs/guide-fr/caching-http.md
  docs/guide-pt-BR/caching-http.md
  docs/guide-ru/caching-http.md
  docs/guide-zh-CN/caching-http.md
Labels: type:docs

#19678 Unique and Exist validators docs updated
  docs/guide/tutorial-core-validators.md
  framework/validators/ExistValidator.php
  framework/validators/UniqueValidator.php
Labels: type:docs

#19680 Do not reset retryHandler when yii\db\Command::reset() called
  framework/CHANGELOG.md
  framework/db/Command.php
Labels: type:enhancement

#19681 Dropdown boolean values
  framework/CHANGELOG.md
  framework/helpers/BaseHtml.php
  tests/framework/helpers/HtmlTest.php
Labels: type:bug

#19686 update rest-quick-start.md wiki links
  docs/guide-es/rest-quick-start.md
  docs/guide-ru/rest-quick-start.md
  docs/guide-uk/rest-quick-start.md
  docs/guide-zh-CN/rest-quick-start.md
Labels: type:docs

#19687 update rest-resources.md wiki links
  docs/guide-es/rest-resources.md
  docs/guide-ru/rest-resources.md
  docs/guide-zh-CN/rest-resources.md
Labels: type:docs

#19688 update rest-controllers.md mozilla links
  docs/guide-ja/rest-controllers.md
  docs/guide-zh-CN/rest-controllers.md
Labels: type:docs

#19692 update rest-response-formatting.md wiki links
  docs/guide-es/rest-response-formatting.md
  docs/guide-zh-CN/rest-response-formatting.md
Labels: type:docs

#19689 Prevent trailing or duplicate spaces in class attribute
  framework/CHANGELOG.md
  framework/helpers/BaseHtml.php
  tests/framework/helpers/HtmlTest.php
Labels: type:enhancement

#19696 Change property visibility to allow more flexibility for apps
  framework/CHANGELOG.md
  framework/web/View.php
Labels: type:enhancement
