Repository yiisoft/yii2, pull requests merged in 2022-02, with the labels that each got.

#19201 update ICU manual link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19206 Resolve issue #19204
  framework/CHANGELOG.md
  framework/helpers/BaseInflector.php
  tests/framework/helpers/InflectorTest.php
Labels: type:bug

#19210 update APC link
  docs/guide-ja/tutorial-performance-tuning.md
  docs/guide-zh-CN/tutorial-performance-tuning.md
  docs/guide/tutorial-performance-tuning.md
Labels: type:docs

#19152 allow expression in IN builder for columns
  framework/CHANGELOG.md
  framework/db/conditions/InConditionBuilder.php
  framework/db/mssql/conditions/InConditionBuilder.php
  framework/db/sqlite/conditions/InConditionBuilder.php
  tests/framework/db/QueryBuilderTest.php
Labels: type:enhancement, status:code review

#19216 update boolean attributes link
  docs/guide-es/helper-html.md
  docs/guide-fr/helper-html.md
  docs/guide-ja/helper-html.md
  docs/guide-ru/helper-html.md
  docs/guide-zh-CN/helper-html.md
  docs/guide/helper-html.md
Labels: type:docs

#19222 update links (en)
  docs/guide/caching-data.md
  docs/guide/concept-aliases.md
  docs/guide/concept-behaviors.md
  docs/guide/concept-di-container.md
  docs/guide/db-active-record.md
  docs/guide/db-dao.md
  docs/guide/db-migrations.md
  docs/guide/db-query-builder.md
  docs/guide/input-validation.md
  docs/guide/output-client-scripts.md
  docs/guide/output-formatting.md
  docs/guide/rest-authentication.md
  docs/guide/rest-quick-start.md
  docs/guide/rest-resources.md
  docs/guide/rest-response-formatting.md
  docs/guide/rest-versioning.md
  docs/guide/runtime-responses.md
  docs/guide/runtime-sessions-cookies.md
  docs/guide/security-authorization.md
  docs/guide/security-best-practices.md
  docs/guide/start-forms.md
  docs/guide/start-hello.md
  docs/guide/start-installation.md
  docs/guide/start-looking-ahead.md
  docs/guide/start-workflow.md
  docs/guide/structure-applications.md
  docs/guide/structure-assets.md
  docs/guide/structure-controllers.md
  docs/guide/structure-filters.md
  docs/guide/structure-models.md
  docs/guide/structure-overview.md
  docs/guide/structure-views.md
  docs/guide/test-acceptance.md
  docs/guide/test-fixtures.md
  docs/guide/test-functional.md
  docs/guide/test-unit.md
  docs/guide/tutorial-i18n.md
  docs/guide/tutorial-start-from-scratch.md
  docs/guide/tutorial-yii-integration.md
Labels: type:docs

#19232 Fix a typo in a Japanese doc
  docs/guide-ja/structure-models.md
Labels: type:docs

#19234 Fix PhpDoc of `yii\db\pgsql\QueryBuilder::normalizeTableRowData()`
  framework/db/pgsql/QueryBuilder.php
Labels: type:docs

#19230 update links (ar)
  docs/guide-ar/start-forms.md
  docs/guide-ar/start-hello.md
  docs/guide-ar/start-installation.md
  docs/guide-ar/start-looking-ahead.md
  docs/guide-ar/start-workflow.md
Labels: type:docs

#19250 Update db-active-record.md
  docs/guide/db-active-record.md
Labels: type:docs

#19258 update links (id, it lang)
  docs/guide-id/start-forms.md
  docs/guide-id/start-hello.md
  docs/guide-id/start-installation.md
  docs/guide-id/start-looking-ahead.md
  docs/guide-id/start-workflow.md
  docs/guide-id/structure-applications.md
  docs/guide-id/structure-overview.md
  docs/guide-it/README.md
  docs/guide-it/start-installation.md
Labels: type:docs

#19269 Fixing typo
  docs/guide-pt-BR/start-forms.md
Labels: type:docs

#19276 update links (ja, pl lang)
  docs/guide-ja/caching-data.md
  docs/guide-ja/db-active-record.md
  docs/guide-ja/db-dao.md
  docs/guide-ja/output-client-scripts.md
  docs/guide-ja/output-data-widgets.md
  docs/guide-ja/rest-resources.md
  docs/guide-ja/runtime-responses.md
  docs/guide-ja/runtime-sessions-cookies.md
  docs/guide-ja/start-forms.md
  docs/guide-ja/start-hello.md
  docs/guide-ja/start-looking-ahead.md
  docs/guide-ja/structure-assets.md
  docs/guide-ja/structure-extensions.md
  docs/guide-ja/structure-overview.md
  docs/guide-ja/structure-views.md
  docs/guide-ja/test-acceptance.md
  docs/guide-ja/tutorial-performance-tuning.md
  docs/guide-ja/tutorial-start-from-scratch.md
  docs/guide-pl/concept-aliases.md
  docs/guide-pl/db-active-record.md
  docs/guide-pl/db-migrations.md
  docs/guide-pl/input-forms.md
  docs/guide-pl/rest-versioning.md
  docs/guide-pl/start-forms.md
  docs/guide-pl/start-hello.md
  docs/guide-pl/start-installation.md
  docs/guide-pl/start-looking-ahead.md
  docs/guide-pl/start-workflow.md
  docs/guide-pl/test-acceptance.md
  docs/guide-pl/test-functional.md
  docs/guide-pl/test-unit.md
  docs/guide-pl/tutorial-start-from-scratch.md
Labels: type:docs
