Repository yiisoft/yii2, pull requests merged in 2022-05, with the labels that each got.

#19378 Fix returning type of `yii\base\Widget::run()`
  framework/base/Widget.php
Labels: type:docs

#19388 Fixed typo
  docs/guide/rest-filtering-collections.md
Labels: type:docs

#19404 Fixed lost import UnauthorizedHttpException
  tests/framework/filters/auth/CompositeAuthTest.php
Labels: type:test

#19386 Fix BaseArrayHelper::htmlDecode()
  framework/CHANGELOG.md
  framework/helpers/BaseArrayHelper.php
  tests/framework/helpers/ArrayHelperTest.php
Labels: type:bug

#19396 Test `Cache::getValue()` for non existent key
  tests/framework/caching/CacheTestCase.php
Labels: type:test

#19416 Fix translators in `messages/config.php`
  framework/CHANGELOG.md
  framework/messages/config.php
  framework/views/messageConfig.php
Labels: type:enhancement
