Repository yiisoft/yii2, pull requests merged in 2022-01, with the labels that each got.

#19125 update documentation of the ICU project link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19128 update ICU documentation link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19143 update ICU API reference link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19150 19138 allow digits in language code
  framework/CHANGELOG.md
  framework/i18n/GettextMessageSource.php
  framework/i18n/PhpMessageSource.php
  tests/data/i18n/messages/en-150/test.php
  tests/framework/i18n/I18NTest.php
Labels: type:bug

#19156 PHP 8.1 - web ControllerTest fails with testNullableInjectedActionParams and testInjectedActionParams fix
  tests/framework/web/ControllerTest.php
Labels: php8

#19157 update formatting reference link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19159 Fix make guide-2.0 for site
  docs/guide-fr/db-dao.md
  docs/guide-ja/db-query-builder.md
  docs/guide-zh-CN/db-query-builder.md
Labels: type:bug

#19164 update formatting reference link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19041 Add PHP 8.1 support
  .github/workflows/build.yml
  composer.json
  composer.lock
  framework/BaseYii.php
  framework/CHANGELOG.md
  framework/base/ArrayAccessTrait.php
  framework/base/ExitException.php
  framework/base/Model.php
  framework/base/Security.php
  framework/caching/Cache.php
  framework/console/controllers/HelpController.php
  framework/db/ArrayExpression.php
  framework/db/BaseActiveRecord.php
  framework/db/BatchQueryResult.php
  framework/db/Connection.php
  framework/db/DataReader.php
  framework/db/JsonExpression.php
  framework/db/Query.php
  framework/db/SqlToken.php
  framework/db/mysql/Schema.php
  framework/grid/Column.php
  framework/helpers/BaseConsole.php
  framework/helpers/BaseFileHelper.php
  framework/helpers/BaseHtml.php
  framework/helpers/BaseStringHelper.php
  framework/i18n/GettextMoFile.php
  framework/i18n/PhpMessageSource.php
  framework/mail/BaseMailer.php
  framework/rest/UrlRule.php
  framework/validators/FileValidator.php
  framework/validators/FilterValidator.php
  framework/web/CookieCollection.php
  framework/web/GroupUrlRule.php
  framework/web/HeaderCollection.php
  framework/web/HttpException.php
  framework/web/Request.php
  framework/web/Response.php
  framework/web/Session.php
  framework/web/UrlNormalizerRedirectException.php
  framework/web/UrlRule.php
  tests/data/base/ArrayAccessObject.php
  tests/data/base/TraversableObject.php
  tests/framework/base/SecurityTest.php
  tests/framework/caching/MemCachedTest.php
  tests/framework/filters/auth/BasicAuthTest.php
  tests/framework/helpers/ArrayHelperTest.php
  tests/framework/models/JsonModel.php
  tests/framework/rest/SerializerTest.php
  tests/framework/web/ControllerTest.php
Labels: php8

#19170 update numbering schemas link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19158 Fix undefined array key errors in ActiveRelationTrait
  framework/CHANGELOG.md
  framework/db/ActiveRelationTrait.php
  tests/framework/db/ActiveRecordTest.php
Labels: status:code review

#19181 update rules reference link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19171 Pagination and sorting for rest index action
  docs/guide/rest-quick-start.md
  framework/CHANGELOG.md
  framework/rest/IndexAction.php
  tests/framework/rest/IndexActionTest.php
Labels: type:enhancement, status:code review

#19192 Change \Exception to \Throwable
  framework/CHANGELOG.md
  framework/web/BadRequestHttpException.php
  framework/web/HttpException.php
Labels: type:bug

#19188 PageCache storing original header names
  framework/CHANGELOG.md
  framework/UPGRADE.md
  framework/filters/PageCache.php
  framework/web/HeaderCollection.php
  tests/framework/filters/PageCacheTest.php
  tests/framework/web/HeaderCollectionTest.php
Labels: type:bug, status:code review

#19190 update ICU library link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/output-formatting.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs

#19194 Fix BC introduced in 19188
  framework/filters/PageCache.php
  framework/web/HeaderCollection.php
  tests/framework/filters/PageCacheTest.php
  tests/framework/web/HeaderCollectionTest.php
Labels: type:enhancement

#19196 update ICU site link
  docs/guide-fr/tutorial-i18n.md
  docs/guide-ja/tutorial-i18n.md
  docs/guide-ru/tutorial-i18n.md
  docs/guide-zh-CN/tutorial-i18n.md
  docs/guide/tutorial-i18n.md
Labels: type:docs
