Repository yiisoft/yii2, pull requests merged in 2022-10, with the labels that each got.

#19601 update structure-filters.md links
  docs/guide-es/structure-filters.md
  docs/guide-fr/structure-filters.md
  docs/guide-ja/structure-filters.md
  docs/guide-pt-BR/structure-filters.md
  docs/guide-ru/structure-filters.md
  docs/guide-zh-CN/structure-filters.md
  docs/guide/structure-filters.md
Labels: type:docs

#19602 update structure-widgets.md php.net links
  docs/guide-fr/structure-widgets.md
  docs/guide-zh-CN/structure-widgets.md
Labels: type:docs

#19606 update runtime-routing.md wiki links
  docs/guide-fr/runtime-routing.md
  docs/guide-zh-CN/runtime-routing.md
Labels: type:docs

#19585 Fix eager loading of nested one-to-many relations
  framework/CHANGELOG.md
  framework/db/ActiveRelationTrait.php
  tests/data/ar/Customer.php
  tests/framework/db/ActiveRecordTest.php
Labels: type:bug

#19603 MysqlMutext component fix same connection but difference database fail
  framework/CHANGELOG.md
  framework/mutex/MysqlMutex.php
  tests/framework/mutex/MysqlMutexTest.php
Labels: type:enhancement

#19609 update concept-events.md php.net links
  docs/guide-fr/concept-events.md
  docs/guide-pt-BR/concept-events.md
  docs/guide-zh-CN/concept-events.md
Labels: type:docs

#19617 update concept-behaviors.md links
  docs/guide-es/concept-behaviors.md
  docs/guide-fr/concept-behaviors.md
  docs/guide-ja/concept-behaviors.md
  docs/guide-pt-BR/concept-behaviors.md
  docs/guide-zh-CN/concept-behaviors.md
Labels: type:docs

#19622 update concept-autoloading.md links
  docs/guide-fr/concept-autoloading.md
  docs/guide-pt-BR/concept-autoloading.md
Labels: type:docs

#19625 update db-dao.md links
  docs/guide-es/db-dao.md
  docs/guide-fr/db-dao.md
  docs/guide-ru/db-dao.md
  docs/guide-zh-CN/db-dao.md
Labels: type:docs

#19623 19265 fix file cache duration phpdoc
  framework/caching/FileCache.php
Labels: type:docs

#19626 update db-query-builder.md links
  docs/guide-fr/db-query-builder.md
  docs/guide-zh-CN/db-query-builder.md
Labels: type:docs

#19628 update db-active-record.md links
  docs/guide-fr/db-active-record.md
  docs/guide-ja/db-active-record.md
  docs/guide-pt-BR/db-active-record.md
  docs/guide-zh-CN/db-active-record.md
Labels: type:docs

#19638 update input-file-upload.md php.net links
  docs/guide-es/input-file-upload.md
  docs/guide-fr/input-file-upload.md
  docs/guide-zh-CN/input-file-upload.md
Labels: type:docs

#19633 Added upgrade note about default options for message console command
  framework/UPGRADE.md
Labels: type:docs

#19642 update output-formatting.md links
  docs/guide-fr/output-formatting.md
  docs/guide-ja/output-formatting.md
  docs/guide-zh-CN/output-formatting.md
Labels: type:docs

#19643 Reverted #19309
  framework/CHANGELOG.md
  framework/base/Model.php
Labels: type:bug

#19644 update output-client-scripts.md php.net links
  docs/guide-ru/output-client-scripts.md
  docs/guide-zh-CN/output-client-scripts.md
Labels: type:docs

#19650 update security-authorization.md wiki links
  docs/guide-fr/security-authorization.md
  docs/guide-pt-BR/security-authorization.md
  docs/guide-zh-CN/security-authorization.md
Labels: type:docs
