Repository yiisoft/yii2, pull requests merged in 2022-09, with the labels that each got.

#19538 Check more column types for default expression
  framework/CHANGELOG.md
  framework/db/mysql/Schema.php
Labels: type:bug

#19532 small fix #19530
  framework/CHANGELOG.md
  framework/widgets/ActiveField.php
  tests/framework/widgets/ActiveFieldTest.php
Labels: status:code review

#19543 fix xcache link
  framework/caching/XCache.php
Labels: type:docs

#19548 Docs: Wrong operator format
  docs/guide/db-query-builder.md
Labels: type:docs

#19575 update intro namespaces traits lang links
  docs/guide-pt-BR/intro-yii.md
  docs/guide-zh-CN/intro-yii.md
Labels: type:docs

#19583 update start-installation.md lang links
  docs/guide-es/start-installation.md
  docs/guide-fr/start-installation.md
  docs/guide-pt-BR/start-installation.md
  docs/guide-zh-CN/start-installation.md
Labels: type:docs

#19587 update start-databases.md lang links
  docs/guide-ja/start-databases.md
  docs/guide-pt-BR/start-databases.md
  docs/guide-zh-CN/start-databases.md
Labels: type:docs

#19592 update structure-overview.md wiki
  docs/guide-fr/structure-overview.md
  docs/guide-id/structure-overview.md
  docs/guide-vi/structure-overview.md
  docs/guide-zh-CN/structure-overview.md
Labels: type:docs

#19596 update structure-applications.md links
  docs/guide-fr/structure-applications.md
  docs/guide-zh-CN/structure-applications.md
Labels: type:docs

#19597 update structure-applications.md wiki links
  docs/guide-fr/structure-controllers.md
  docs/guide-pt-BR/structure-controllers.md
  docs/guide-zh-CN/structure-controllers.md
Labels: type:docs

#19598 update structure-models.md wiki links
  docs/guide-fr/structure-models.md
  docs/guide-pt-BR/structure-models.md
  docs/guide-ru/structure-models.md
  docs/guide-vi/structure-models.md
  docs/guide-zh-CN/structure-models.md
Labels: type:docs

#19600 update structure-views.md wiki links
  docs/guide-fr/structure-views.md
  docs/guide-pt-BR/structure-views.md
  docs/guide-vi/structure-views.md
  docs/guide-zh-CN/structure-views.md
Labels: type:docs
